

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <title>Pharmacy Detail</title>

    
    <script type="module" src="/js/logout.js"></script>
    <script type="module" src="/js/addMedicine.js"></script>
    <script type="module" src="/js/updateMedicine.js"></script>


    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/navbar-static/">

    

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    
    <!-- Font awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <style>
      
      /* Add margin to the loading icon */
      .fa {
        margin-left: -12px;
        margin-right: 8px;
      }
      </style>

  </head>
  <body>
    
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="/pharmacy">Pharmacy Manager</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/pharmacy">Home</a>
        </li>

        <li class="nav-item ml-3">
          <a type="button" class="btn btn-primary" style="font-weight: bold;" href="/pharmacy/newPharmacy">Add New Pharmacy</a>
      </li>

      </ul>
      <div class="d-flex">
        <button type="button" class="btn btn-danger" id="logout">Logout</button>
        
      </div>
    </div>
  </div>
</nav>

  <div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">View Pharmacy Information</h1>
    </div>
    
    

      <div class="row border border-success rounded mb-1">
        <div class="col-md-2 text-center align-self-md-center"><img style="width: 100%;" src="<%= pharmacy.pic %>" alt="Al-Nahdi Care" height="100"></div>
        <div class="col-md-4 align-self-md-center">
          <div class="row">
            <div class="col-md-12"><strong id="pharmacy_name"><%= pharmacy.name %></strong></div>
            <div class="col-md-6"><%= account.phone %></div>
            <div class="col-md-6"><%= account.email %></div>
            <div class="col-md-12 ">Dr.<%= account.name %> </div>
          </div>
          
        </div>
        <div class="col-md-3 align-self-md-center">
          <div class="row">
            <div class="col-md-6"><a href="https://twitter.com/<%= pharmacy.twitterAccount %>/" target="_blank"><img style="width: 100%;" src="/images/twitterIcon.png" alt="Twitter"></a></div>
            <div class="col-md-6"><a href="https://www.instagram.com/<%= pharmacy.instaAccount %>/" target="_blank"><img style="width: 100%;" src="/images/instagramIcon.png" alt="Instagram"></a></div>
          </div>
        </div>
        <div class="col-md-3 align-self-md-center">
          <div class="row">
            <div class="col-md-6">
              <a type="button" class="btn btn-warning w-100" id="edit" href="/pharmacy/updatePharmacy/<%= pharmacyID %>">Update</a>
            </div>
            <div class="col-md-6">
              <a type="button" class="btn btn-danger w-100"  id="delete" href="/pharmacy/deletePharmacy/<%= pharmacyID %>">Delete</a>
            </div>
          </div>
        </div>
      </div>
    
    <br>
    <hr style="color: black;">
    
    <div class="pricing-header px-3 py-3 pt-md-1 pb-md-4 mx-auto">
      <div class="col-md-10 text-left">
        <h4 class="display-4"> Add Medicine</h4>
      </div>
      <div class="row">
        <div class="form-group col-md-3">
          <label for="name">Medicine Name</label>
          <input type="text" class="form-control" name="name" id="name">
        </div>
        <div class="form-group col-md-2">
          <label for="price">Medicine Price</label>
          <input type="number" class="form-control" name="price" id="price">
        </div>
        <div class="row col-md-4">
          <div class="form-group col-md-6">
            <label for="image">Medicine image</label>
            <input type="file" class="form-control-file" name="image" id="image" onchange="loadImage(event)">
          </div>
          <div class="form-group col-md-6 text-center" style="height: 62px;">
            <img id="previewLogo" style="height: 100%;">
          </div>
        </div>
        <div class="form-group col-md-3 align-self-md-center">
          <button type="button" class="btn btn-primary col-md-12" style="width: 100%;" id="submitNewMedicine" value="<%= pharmacyID %>"> + Add Medicine</button>
        </div>
      </div>
    </div>

    <hr>
    
    <div class="col-md-10 text-left">
      <h4 class="display-4"> All Medicines</h4>
    </div>

    
    <% for (const medicinekey in medicines) {
     
      const medicine = medicines[medicinekey];
      if (medicine.active) {
        %>
        <div class="row border border-success rounded mb-1 pt-2 pb-2 justify-content-center">

          <div class="col-md-3 text-center align-self-md-center">
            <img style="width: 70%;" src="<%= medicine.pic %>" alt="Al-Nahdi Care" height="80">
          </div>

          <div class="col-md-4 align-self-md-center">
            <strong id="viewMedicineName"><%= medicine.name %></strong>
          </div>

          <div class="col-md-2 align-self-md-center">
            <strong id="viewPrice"><%= medicine.price %> S.R.</strong>
          </div>

          <div class="col-md-3 align-self-md-center">
            <div class="row">
              <div class="col-md-6">
                <button type="button" class="btn btn-warning w-100" data-toggle="modal" data-target="#exampleModalCenter" onclick="updatePharmacyData('<%= medicine.name %>', '<%= medicine.price %>', '<%= medicine.pic %>', '<%=medicinekey%>')">Update</button>
              </div>
              <div class="col-md-6">
                <a type="button" class="btn btn-danger w-100"  id="delete" href="/pharmacy/deleteMedicine/<%= medicinekey %>">Delete</a>
              </div>
            </div>
          </div>
          
        </div>




        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Update Medicine Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label for="updatedName">Medicine Name</label>
                  <input type="text" class="form-control" id="updatedName" value="">
                </div>
                <br>
                <div class="form-group">
                  <label for="updatedPrice">Medicine Price</label>
                  <input type="text" class="form-control" id="updatedPrice" value="">
                </div>
                <br>
                <div class="form-group text-center">
                  <label for="updatedImage">Medicine Image</label>
                  <input type="file" class="form-control-file" id="updatedImage" onchange="loadUpdatedImage(event)">            
                  <input type="hidden" name="oldLogo" id="oldLogo" value="">
                </div>
                <br>
                <div class="form-group">
                  <div class="form-group col-md-6 mx-auto" style="height: 150px;">
                    <img id="previewUpateImage" style="height: 100%;">
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success w-100" id="updateMedicine" value="">Update Medicine</a>
              </div>
            </div>
          </div>
        </div>
        
        <%
        }
      } { %>
    
    <% } %>


  </div>



  <!-- jQuery first, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

  <script>


    $('#myModal').modal('toggle');

    var loadImage = function(event) {
        var previewLogo = document.getElementById('previewLogo');
        previewLogo.src = URL.createObjectURL(event.target.files[0]);
        previewLogo.onload = function() {
          URL.revokeObjectURL(previewLogo.src) // free memory
        }
      };
    
    

      
    var loadUpdatedImage = function(event) {
        var previewUpateImage = document.getElementById('previewUpateImage');
        previewUpateImage.src = URL.createObjectURL(event.target.files[0]);
        previewUpateImage.onload = function() {
          URL.revokeObjectURL(previewUpateImage.src) // free memory
          document.getElementById("oldLogo").value = ""
        }
      };
    
    

      

    var updatePharmacyData = function(name, price, pic, medicinekey) {
      document.getElementById("updatedName").value = name;
      document.getElementById("updatedPrice").value = price;
      document.getElementById("previewUpateImage").src = pic;
      document.getElementById("updateMedicine").value = medicinekey;
      document.getElementById("oldLogo").value = pic;
    }
    
    
    
      </script>

    
       
  </body>




</html>